body {
    font-family: 'Prata', 'Arial', sans-serif;
    background-color: #ebe1d8;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.mrs-saint-delafield-regular {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }

.df-heading {
    font-size: 4rem;
}
.df-heading-1 {
    font-size: 3.5rem;
}

.dvh-100 {
    height: 100dvh;
}



label[for][for]:has(+ input[required])::after,
label[for][for]:has(+ select[required])::after {
    content: " *";
    color: red;
}

.banner {
    width: 100%;
    height: 200px;
    background: url(/assets/images/engagement-ring-bw.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    background-color: black;
}

@media screen and (min-width: 576px) {
    .banner {
        height: 300px;
        background-size: contain;
    }
    .container-rsvp-login {
        width: 300px;
    }
}