body {
    font-family: 'Prata', 'Arial', sans-serif;
    background-color: #ebe1d8;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


section {
    scroll-margin-top: 56px;
    /* Adjust this to match your navbar height */
}

.my-5rem {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.mb-5rem {
    margin-bottom: 5rem !important;
}

.navbar {
    background-color: #ebe1d8;
    box-shadow: 0 8px 6px -12px #0000007a;
}

.navbar-nav .nav-link {
    color: #212529;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.mrs-saint-delafield-regular {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.beth-ellen-regular {
    font-family: "Beth Ellen", cursive;
    font-weight: 400;
    font-style: normal;
}


.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.df-heading {
    font-size: 4rem;
}

.df-heading-1 {
    font-size: 3.5rem;
}

.dvh-100 {
    height: 100dvh;
}

.mb-2rem {
    margin-bottom: 2rem;
}



/* label[for][for]:has(+ input[required])::after,
label[for][for]:has(+ select[required])::after {
    content: " *";
    color: red;
} */

.banner-wrapper {
    width: 100%;
    height: 150px;
    background-image: url('/assets/images/photo-booth-1.jpg');
    background-size: auto 100%;
    /* Ensure it tiles horizontally */
    background-repeat: repeat-x;
    /* Allow horizontal repetition */
    animation: move-bg 60s linear infinite;
}

.schedule-list-heading {
    margin-bottom: 2rem;
}

.schedule-list-container {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.schedule-list-item {
    width: 100%;
    margin-bottom: 2.5rem;
}

.schedule-image {
    width: 70px;
}

.schedule-image.top-right {
    position: absolute;
    top: 90px;
    right: 0;
}

.schedule-image.middle-right {
    position: absolute;
    top: 230px;
    left: 0;
}

.schedule-image.bottom-right {
    position: absolute;
    bottom: 50px;
    right: 0;
}

.schedule-icon {
    position: relative;
    /* Ensures absolute positioning is relative to this element */
    display: inline-block;
    /* Keeps it inline */
}

.drinks-icon::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(/assets/images/cling-cling.png) no-repeat center center;
    background-size: contain;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.party-icon::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(/assets/images/disco-ball-new.png) no-repeat center center;
    background-size: contain;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 5px;
}

.sparklers-icon::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(/assets/images/sparkler.png) no-repeat center center;
    background-size: contain;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.banner-text {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    font-family: 'Beth Ellen', cursive;
    display: inline-block;
}

.banner-text span {
    opacity: 0;
    animation: fadeInLetter 0.5s ease-in forwards;
}

@keyframes fadeInLetter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes move-bg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1000% 0;
    }
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-text {
    color: #ffffff;
    font-size: 1.5rem;
}

.slider-container {
    position: relative;
}

.slider-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.font-size-small {
    font-size: 0.75rem;
}

.font-size-medium {
    font-size: 1.25rem;
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

.schedule-text {
    font-size: 0.7rem;
    letter-spacing: 3px;
}


.colour-pallete-container {
    display: flex;
    gap: 9px;
    justify-content: center;
    flex-wrap: wrap;
}

.colour-pallette-item {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.colour-pallette-item:nth-child(1) {
    border: 1px solid #264025;
    background: #264025;
}

.colour-pallette-item:nth-child(2) {
    border: 1px solid #6E612F;
    background: #6E612F;
}

.colour-pallette-item:nth-child(3) {
    border: 1px solid #791b2c;
    background: #791b2c;
}

.colour-pallette-item:nth-child(4) {
    border: 1px solid #a9552c;
    background: #a9552c;
}

.colour-pallette-item:nth-child(5) {
    border: 1px solid #C2A58D;
    background: #C2A58D;
}



/* Animation */

/* .animation-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
} */

.animation-item {
    opacity: 0;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation-item.fade-in-top {
    animation-name: fadeInTop;
}

.animation-item.fade-in-right {
    animation-name: fadeInRight;
}

.animation-item.fade-in-bottom {
    animation-name: fadeInBottom;
}

.animation-item.fade-in-left {
    animation-name: fadeInLeft;
}

.animation-item.no-animation {
    opacity: 1 !important;
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}




@media screen and (min-width: 425px) {
    .banner-text {
        font-size: 2rem;
    }

    .schedule-text {
        font-size: 0.8rem;
        letter-spacing: 4px;
    }
}

@media screen and (min-width: 576px) {
    .container-rsvp-login {
        width: 300px;
    }

    @keyframes move-bg {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 200% 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    .banner-wrapper {
        height: 300px;
    }

    .schedule-text {
        font-size: 1rem;
        letter-spacing: 4px;
    }
}

.accordion-body *:last-child {
    margin-bottom: 0;
}

.form-control[readonly] {
    background-color: #f8f9fa; /* Bootstrap light gray */
    cursor: not-allowed;
    color: #6c757d; /* muted text */
}

.calendar-dropdown-menu {
    width: 100%;
    text-align: center;
    padding: 0;
    border-radius: 0;
    border: 1px solid #000000;
}

.btn.calendar-dropdown-menu-btn.show {
    border-color: #000000 !important;
}

.calendar-dropdown-menu li a {
    width: 100%;
    padding: 0.375rem 1rem;
    border-bottom: 1px solid #dee2e6;
}